<ion-header>

  <ion-toolbar>

   <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
   </ion-buttons>

   <ion-title>
    <ion-icon  name="logo-twitter" color="primary" size="large"></ion-icon>
   </ion-title>

   <ion-buttons slot="end">
    <ion-button>
      <ion-icon slot="icon-only" name="pulse-outline"></ion-icon>
    </ion-button>
  </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content >
</ion-content>
